.recipe-card {
	border-radius: 20px !important;
	box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.2);
	margin: auto;
	max-width: 700px;
  width: 60%;
  min-width: 350px;
	margin-bottom: 20px;
}

.recipe-card-header {
	border-radius: 20px 20px 0 0 !important;
	font-size: 20px;
}

.recipe-card:hover {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transform: scale(1.005);
	transition: transform 0.1s;
}

.recipe-card:active {
	box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.2);
	transform: scale(0.995);
}

.recipe-card-title {
  border-radius: 20px 20px 0 0 !important;
	font-size: 18px;
	text-decoration: underline;
  margin-top: 5px;
}

.recipe-card-container {
  text-align: center;
}

.recipe-card-body {
	padding: 30px;
	text-align: center;
	border-radius: 5px;
}
