.ingredient-button {
    border-radius: 50px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
}

.strike-through {
    text-decoration: line-through;
}

.delete-ingredient {
    height: 58px;
    width: 100px;
}

.add-ingredient {
    height: 58px;
    width: 150px;
}